@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.site {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  color: #525666;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #142149;
}

.navbar_banner_background {
  background: linear-gradient(90deg, #021048, #1e38a3);
}

/* Navigation  */
.navbar_menu_small,
.city-small {
  display: none;
}
.logo img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-left: 50px;
}
.logo {
  align-content: center;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 19px 16px;
  padding: 0px 12px;
}

.navbar_menu {
  display: flex;
  justify-content: flex-end;
}

.navbar_menu ul {
  margin-bottom: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px !important;
}

.navbar_menu li {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.btn {
  position: relative !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* transition: border-color .3s,background .3s,color .3s; */
  vertical-align: top !important;
  white-space: nowrap !important;
  border: 1px solid transparent !important;
  outline: 0 !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
  height: 48px !important;
  border-radius: 2px !important;
  overflow: hidden;
  color: #fff !important;
}

.links {
  padding: 6px 14px;
}

.item_hidden_btn_overlay {
  background: transparent !important;
  border-color: rgba(223, 226, 235, 0.64) !important;
  border: 1px solid !important;
  margin-left: 16px !important;
  border-color: rgba(223, 226, 235, 0.32) !important;
  padding: 0 20px !important;
  margin: 0 !important;
  padding: 0 20px !important;
  margin-right: 10px !important;
}

.item_hidden_btn_hover {
  background-color: #007bfc !important;
  padding: 0 20px !important;
  margin: 0 !important;
}

.btn_text {
  z-index: 10 !important;
  position: relative !important;
  pointer-events: none !important;
}

.nav_icon {
  margin-left: 8px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  min-width: 16px;
  opacity: 0.4;
  margin-right: -8px;
  transition: 0.4s;
}

.fa-angle-down {
  width: 18px !important;
  height: 18px !important;
  stroke: #fff !important;
  fill: none !important;
  stroke-width: 2 !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
}

/* BANNER */

/* .banner_background {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  width: 100%;
  height: 100%;
  min-width: 1920px;
  user-select: none;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #021048, #1e38a3);
} */

.banner_content {
  padding-bottom: 100px;
}

.banner_title {
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 48px;
  color: #fff;
  z-index: 21;
  position: relative;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  margin-top: 100px;
}

.banner_desc {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  color: rgba(229, 235, 255, 0.8);
  text-align: center;
}

.banner_desc {
  margin-top: 24px;
}

.banner_actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 21;
  position: relative;
}

.input-form input {
  padding: 0 24px;
  height: 60px;
  border-radius: 3px;
  font-size: 19px !important;
  flex: 1 1 auto;
  min-height: 100%;
  border: none !important;
  height: 56px;
  display: block;
  width: 100%;
  transition: border 0.3s linear;
  appearance: none;
  color: #525666;
  box-shadow: none;
}

input {
  padding: 0 24px;
  height: 60px;
  border-radius: 3px;
  font-size: 19px !important;
  min-height: 100%;
  border: none !important;
  margin-left: 16px !important;
  font-weight: 300;
  height: 56px;
  color: inherit;
}

.create-account {
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
  padding: 0 32px !important;
  height: 56px !important;
  border-radius: 3px !important;
  color: #fff;
  background: #007bfc !important;
  margin-left: 16px !important;
}

/* SECTION */

.location-na-small,
.location-eur-small,
.location-asia-small,
.location-aus-small,
.location-sites-small {
  display: none;
}

.location_section {
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section_title {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 72px;
}

.section_desc {
  margin: -48px auto 72px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
}

.section_desc,
.section_title {
  max-width: 750px;
  margin: 0 auto;
}

.section_desc {
  margin-top: 24px;
}

.continent-title {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-left: 25px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.controls-top {
  text-align: center;
  margin-bottom: 10px;
}

.card-body {
  text-align: center;
}

.section-card {
  border-radius: 4px;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.section-card:hover {
  transform: scale(1.05);
}

/* FOOTER */

.site_footer {
  background: linear-gradient(90deg, #142149, #233ba2);
  overflow: hidden;
  font-size: 17px;
  line-height: 24px;
  color: rgba(229, 235, 255, 0.56);
  display: block;
}

.footer .container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer_site_map {
  flex: 1;
  padding: 80px 0 16px;
}

.row {
  display: flex;
  margin-right: -12px;
  margin-left: 100px;
}

.col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}

.footer_title {
  color: #fff;
}

.footer_nav {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.nav_item {
  min-height: auto;
  position: relative;
  display: flex;
  flex-shrink: 0;
}

footer .nav_link {
  padding: 6px 0 !important;
  white-space: normal !important;
  transition: 0.3s ease;
  color: rgba(229, 235, 255, 0.56) !important;
  display: flex;
  flex-shrink: 0;
  align-items: center !important;
  min-height: 100% !important;
  width: 100% !important;
  text-decoration: none !important;
  font-weight: 300;
}

footer .nav_link:hover {
  color: #fff !important;
}

.footer_social_nav {
  padding: 54px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer_social_nav p {
  font-weight: 300;
}

.footer_socials img {
  width: 27px;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  color: rgba(229, 235, 255, 0.56);
  margin-left: 24px;
}

.footer_social_color {
  filter: invert(95%) sepia(81%) saturate(2038%) hue-rotate(179deg)
    brightness(105%) contrast(103%);
  opacity: 0.5;
}

.footer_social_color:hover {
  filter: invert(100%) sepia(0%) saturate(3742%) hue-rotate(294deg)
    brightness(120%) contrast(106%);
  opacity: 1;
}

footer a {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  color: rgba(229, 235, 255, 0.56);
  text-decoration: none !important;
}

.footer_bottom {
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 1px solid rgba(229, 235, 255, 0.08);
}

.footer_bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer_brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  flex: 1 0 auto;
}

.footer_brand img {
  height: 38px;
  width: 44px;
  margin-left: 30px;
  margin-right: 25px;
}

.brand_title {
  font-size: 15px !important;
  font-weight: 300 !important;
}

.brand_desc {
  color: rgba(229, 235, 255, 0.4);
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-bottom .container {
  margin-left: 48px;
  margin-right: 48px;
}

.footer_bottom_nav {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.footer_bottom_nav ul {
  display: flex;
  flex-direction: row;
}

.footer_bottom .nav_item {
  position: relative;
  min-height: 56px;
  display: flex;
  flex-shrink: 0;
}

.footer_bottom .nav_link {
  color: rgba(229, 235, 255, 0.56);
  transition: 0.3s ease;
  align-items: center;
  padding: 6px 16px;
  margin-right: 24px;
  font-size: 15px !important;
}

.svg-logo {
  overflow: visible;
  flex: 1 0 auto;
  padding-left: 1px;
  height: 40px;
}
.svg-logo__text {
  display: none;
}

.svg-logo__shape-1 {
  fill: #007bfc;
  opacity: 1;
}
.svg-logo__shape-2 {
  fill: #51b9ff;
}
.svg-logo__shape-3 {
  fill: #fff;
}

/* animation */

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*clearfixes*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* .animation-element {
  position: relative;
  width: 30%;
  margin: 0% 1.33 2.66% 1.33%;
  float: left;
} */
/*3 grid layout*/

.animation-element:nth-of-type(3n-2) {
  /* width: 31.5%; */
  margin: 0% 1.375% 2.75% 0%;
  clear: left;
}

.animation-element:nth-of-type(3n-1) {
  margin: 0% 1.375% 2.75% 1.375%;
}

.animation-element:nth-of-type(3n-0) {
  width: 31.5%;
  margin: 0% 0% 2.75% 1.375%;
  clear: right;
}
/*bounce up animation for the subject*/

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* testing hiding divs onclick */

.na-container,
.eur-container,
.asia-container,
.aus-container {
  display: none;
}

.location-sites {
  display: flex;
  justify-content: space-evenly;
  margin-right: 0;
  margin-left: 0;
}

.location-na,
.location-eur,
.location-asia,
.location-aus {
  font-size: 17px;
  letter-spacing: 2px;
  /* margin-left: 25px; */
  text-transform: uppercase;
  margin-top: 75px;
  margin-bottom: 20px;
  color: #007bfc;
  border-radius: 3px;
  background: transparent;
  padding: 0 24px !important;
  height: 56px;
  border-color: #007bfc;
  border: 1px solid;
  font-weight: 500px;
  transition: border-color 0.3s, color 0.3s;
  width: 250px;
}

.location-na:hover,
.location-eur:hover,
.location-asia:hover,
.location-aus:hover {
  color: #51b9ff;
  background: transparent;
  border-color: #51b9ff;
}

.location-na:focus,
.location-eur:focus,
.location-asia:focus,
.location-aus:focus {
  outline: none;
}

/* Media Queries*/

@media (max-width: 1011px) {
  input {
    display: none;
  }
  .location-na,
  .location-eur,
  .location-asia,
  .location-aus {
    width: 150px;
  }

  .brand__logo {
    display: none;
  }

  .footer_brand::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    height: 1px;
    background: rgba(229, 235, 255, 0.08);
  }

  .footer_bottom {
    padding-top: 5px;
  }
  .footer_bottom .container {
    flex-direction: column-reverse;
  }
  .footer_bottom_nav {
    padding: 10px 0;
  }

  .footer_social_nav p {
    font-size: 15px;
  }

  footer .nav_link {
    font-size: 15px;
  }

  footer .brand_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brand_content p {
    font-size: 12px;
  }

  .navbar_menu,
  .logo {
    display: none;
  }

  .navbar_menu_small {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 30px;
    justify-content: space-between;
  }

  .navbar_menu_small img {
    height: 38px;
    width: 44px;
  }

  .menu_trigger {
    width: 22px;
    height: 30px;
    top: 30px;
    right: 50px;
    cursor: pointer;
    line-height: 0.5;
  }

  .menu_trigger span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: inline-block;
    transition: all 1s ease;
  }

  #user-icon {
    filter: invert(99%) sepia(4%) saturate(1220%) hue-rotate(174deg)
      brightness(119%) contrast(100%);
    float: left;
    width: 24px;
    height: 24px;
  }
}

/* Mobile View */
@media (max-width: 751px) {
  .banner_title {
    font-size: 40px;
    margin-top: 80px;
  }

  .banner_desc {
    font-size: 17px;
    line-height: 28px;
  }

  .section_title {
    font-size: 32px;
  }

  .location-sites {
    display: none;
  }

  .location-sites-small {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .location-na-small,
  .location-eur-small,
  .location-asia-small,
  .location-aus-small {
    font-size: 1rem;
    letter-spacing: 2px;

    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }

  .city-small {
    color: #007bfc;
    text-align: center !important;
    display: block;
    font-size: 17px;
  }

  .footer_nav {
    display: none;
  }

  .footer_title {
    text-align: center;
  }

  .row {
    flex-wrap: nowrap !important;
  }

  .footer_social_nav {
    flex-direction: column;
    align-items: center;
  }

  .footer_bottom_nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0 !important;
  }

  .brand_content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .brand_title {
    color: #fff;
  }
  .brand_desc {
    margin-top: 8px;
  }

  .col-md-3 {
    padding-right: 0 !important;
    padding-right: 0 !important;
  }
  .footer_bottom .nav_link {
    margin-right: 0 !important;
  }

  .row {
    margin-right: 0 !important;
  }
}
